.animalcard {
  background-color: rgba(138, 139, 224, 0.479);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 0 0 5px #333;
  padding: 1rem;
}

.animalcard img {
  width: 100%;
}

.animallist {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}
