body {
  display: flex;
  justify-content: center;
}

div {
  width: 95%;
  background-color: lightgray;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  padding: 2rem 0.5rem;
}

.circle {
  background-color: grey;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

.even {
  background-color: skyblue;
}

.odd {
  background-color: lightseagreen;
}

header {
  display: flex;
  justify-content: space-between;
  color: rgb(218, 159, 32);
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  padding: 0.5rem;
  background-color: lightyellow;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-size: 19px;
  border-color: rgb(182, 207, 233);
}
footer {
  text-align: center;
  margin-top: 2rem;
}
